*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.body {
    background-color: #f9f9f9;
}

.body-bg {
    background-color: #aaff65;
}

.navbar {
    background-color: #4CAF50;
}

.btn-custom {
    background-color: #4CAF50;
    color: #fff;
}

.card-panels {
    display: flex;
    justify-content: space-around;
}

.img-carousel {
    display: flex;
    justify-content: space-around;
}

.carouseldiv {
    padding: 2%;
}